<div [hidden]="list.years.length==0" style="width: 300px">
    <mat-accordion multi=false>
        <mat-expansion-panel *ngFor="let year of list.years">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{year.year}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion multi=false>
                <mat-expansion-panel *ngFor="let month of year.months" class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{month.month | month}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!--todo fix router link-->
                    <a mat-button *ngFor="let post of month.blogPosts" routerLink="."
                       style="display:inline-block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{post.title}}</a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
</div>

