$g1: 4px;
$g0: $g1 * 0;
$g2: $g1 * 2;
$g3: $g1 * 3;
$g4: $g1 * 4;
$g5: $g1 * 5;
$g6: $g1 * 6;
$g7: $g1 * 7;
$g8: $g1 * 8;
$g9: $g1 * 9;

$g10: $g1 * 10;
$g11: $g1 * 11;
$g12: $g1 * 12;
$g13: $g1 * 13;
$g14: $g1 * 14;
$g15: $g1 * 15;
$g16: $g1 * 16;
$g17: $g1 * 17;
$g18: $g1 * 18;
$g19: $g1 * 19;

$g20: $g1 * 20;
$g21: $g1 * 21;
$g22: $g1 * 22;
$g23: $g1 * 23;
$g24: $g1 * 24;
$g25: $g1 * 25;
$g26: $g1 * 26;
$g27: $g1 * 27;
$g28: $g1 * 28;
$g29: $g1 * 29;

$g30: $g1 * 30;
$g31: $g1 * 31;
$g32: $g1 * 32;
$g33: $g1 * 33;
$g34: $g1 * 34;
$g35: $g1 * 35;
$g36: $g1 * 36;
$g37: $g1 * 37;
$g38: $g1 * 38;
$g39: $g1 * 39;

$g40: $g1 * 40;
$g41: $g1 * 41;
$g42: $g1 * 42;
$g43: $g1 * 43;
$g44: $g1 * 44;
$g45: $g1 * 45;
$g46: $g1 * 46;
$g47: $g1 * 47;
$g48: $g1 * 48;
$g49: $g1 * 49;

$g50: $g1 * 50;
$g51: $g1 * 51;
$g52: $g1 * 52;
$g53: $g1 * 53;
$g54: $g1 * 54;
$g55: $g1 * 55;
$g56: $g1 * 56;
$g57: $g1 * 57;
$g58: $g1 * 58;
$g59: $g1 * 59;

$g60: $g1 * 60;
$g61: $g1 * 61;
$g62: $g1 * 62;
$g63: $g1 * 63;
$g64: $g1 * 64;
$g65: $g1 * 65;
$g66: $g1 * 66;
$g67: $g1 * 67;
$g68: $g1 * 68;
$g69: $g1 * 69;

$g70: $g1 * 70;
$g71: $g1 * 71;
$g72: $g1 * 72;
$g73: $g1 * 73;
$g74: $g1 * 74;
$g75: $g1 * 75;
$g76: $g1 * 76;
$g77: $g1 * 77;
$g78: $g1 * 78;
$g79: $g1 * 79;

$g80: $g1 * 80;
$g81: $g1 * 81;
$g82: $g1 * 82;
$g83: $g1 * 83;
$g84: $g1 * 84;
$g85: $g1 * 85;
$g86: $g1 * 86;
$g87: $g1 * 87;
$g88: $g1 * 88;
$g89: $g1 * 89;

$g90: $g1 * 90;
$g91: $g1 * 91;
$g92: $g1 * 92;
$g93: $g1 * 93;
$g94: $g1 * 94;
$g95: $g1 * 95;
$g96: $g1 * 96;
$g97: $g1 * 97;
$g98: $g1 * 98;
$g99: $g1 * 99;

$g100: $g1 * 100;